body {
    font-family: monospace;
    color: white;
    background-color: black;
}

.estetica1 {
    color: cyan;
    font-family: Arial;
    font-size: 12px;
}

.estetica2 {
    color: magenta;
    font-family: 'Times New Roman';
    font-size: 15px;
}
.estetica3 {
    color:  yellow;
    font-family: Georgia;
    font-size: 10px;
}

#mod-especial {
    color: blueviolet;
    font-family: Impact;
    font-size: 11px;
}

img {
    width: 330px;
}